# DATA SCIENCE TOOLS AND ECO SYSTEM

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular langauges that Data Scientists use are 
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. Sci kit learn
3. NumPy

|Data Science Tools|
|------------------|
|Eclipse           |
|Github            |
|Atom              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
3+4

7

In [2]:
3-4

-1

In [3]:
3*4

12

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 200
hours = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

Objectives:
- Python
- SQL
- R

## AUTHOR

Vedaant Melkari